.plugin
	.plugin-wrapper
		.artclock
			.clock(data-plugin="clock")
				.glass
				.background
					include ../images/ciferblat.svg
				.hour
					include ../images/hour.svg
				.minute
					include ../images/minute.svg
				.second
					include ../images/second.svg