doctype html
html(prefix="og: http://ogp.me/ns#" lang="ru")
	include variables
	include inc/head
	body.studionions
		.preloader
			img(src="/assets/templates/comingsoon/images/test.png" alt=title)
		.page.clearfix
			main.container.clearfix
				.flexbox
					include inc/content
					include inc/clock
				include inc/footer	
		include inc/javascript