doctype html
html(prefix="og: http://ogp.me/ns#" lang="ru")
	include variables
	include inc/headlogin
	body.studionions
		.preloader
			img(src="/assets/templates/comingsoon/images/test.png" alt=title)
		.page.clearfix
			main.container.clearfix
				.flexbox
					include inc/login
					include inc/clock
				include inc/footer
		script
			="\n"
			include ../../bower_components/yepnope/dist/yepnope-2.0.0.min.js
		script
			include inc/javascript.js