- var title = 'STUDIONIONS';
- var h1 = 'Сайт на ре&shy;кон&shy;струк&shy;ции';
- var content = 'За более под&shy;роб&shy;ной ин&shy;фор&shy;ма&shy;цией об&shy;ра&shy;ти&shy;тесь к ад&shy;ми&shy;нис&shy;тра&shy;то&shy;ру сай&shy;та -';
- var developDescription = 'Разработка, поддержка и продвижение сайтов:';
- var linkTitle = 'STUDIONIONS';
- var linkStudio = 'http://www.cmsmagazine.ru/creators/studionions/';
- var adminTitle = 'ProjectSoft';
- var linkAdmin = 'https://vk.com/projectsoft';